<nav>
  <a href="/museums">Museum Index</a>
  <a href="/works">Artwork Index</a>
</nav>
<form action="/museums/<%= params[:id] %>/works" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Name of Work:</p>
  <input type='text' name='work[name]'/><br/>
  <p>Artist:</p>
  <input type='text' name='work[artist]'/><br/>
  <p>Year Created:</p>
  <input type='number' min='-5000' max='2021' name='work[year]'/><br/>
  <p>On Display:</p>
  <input type="radio" id='yes' name="work[on_display]" value="true">
  <label for="yes">Yes</label><br>
  <input type="radio" id ='no' name="work[on_display]" value="false">
  <label for="no">No</label><br>
  <p>Medium:</p>
  <input type='text' name='work[medium]'/><br/>
  <input type="hidden" name="work[museum_id]" value="<%= params[:id] %>">
  <input type='submit' name='Submit'/>
</form>
