<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h1>New Program</h1>

<form action='/programs' method='post'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
  <input type='hidden' name='program_room_id' value="<%= params[:id] %>">
  <label for='mename'>Program name: </label>
  <input id='mename' type='text' name='program[name]'/><br/>
  <label for='number_of_participants'>Number of Participants: </label>
  <input id='number_of_participants' type='bigint' name='program[number_of_participants]'/><br/>

  <input type='submit' value='Create Program'/>
</form>
