<h1>Art Museum Manager</h1>
<ul>
  <li><a href="/museums">Museums index</a></li>
  <li><a href="/works">Works index</a></li>

  <li><a href="/galleries">Galleries index</a></li>
  <li><a href="/programs">Program index</a></li>

</ul>
