<nav>
  <a href="/museums">Museum Index</a>
  <a href="/works">Artwork Index</a>
</nav>
<form action="/museums" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Museum name:</p>
  <input type='text' name='museum[name]'/><br/>
  <p>City:</p>
  <input type='text' name='museum[city]'/><br/>
  <p>Admission Cost:</p>
  <input type='number' min=0 max='150' name='museum[admission_cost]'/><br/>
  <p>Works by old masters:</p>
  <input type="radio" id='yes' name="museum[old_masters]" value="true">
  <label for="yes">Yes</label><br>
  <input type="radio" id ='no' name="museum[old_masters]" value="false">
  <label for="no">No</label><br>
  <p>Architect:</p>
  <input type='text' name='museum[architect]'/><br/>
  <input type='submit' name='Submit'/>
</form>
