
<h1>New Gallery Room</h1>

<form action='/galleries' method='post'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
  <label for='galleryname'>GalleryRoom name: </label>
  <input id='galleryname' type='text' name='gallery[name]'/><br/>

  <label for='supoort_tech'>Has Projector: </label>
  <input id='supoort_tech' type='boolean' name='gallery[tech_support]'/><br/>

  <label for='capacity'>Capacity: </label>
  <input id='capacity' type='number' name='gallery[capacity]'/><br/>

  <input type='submit' value='Create Gallery Room'/>

</form>
